<?php
return array(
    // http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html
    'db' => array(),

    // Directory where SQL tag files are stored
    'tags_directory' => '',

    // Directory where SQL patch files are stored
    'patches_directory' => '',
    
    // Name of the DB table to use to store versions
    'dbvc_table' => 'migration_versions',
);
